@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Regular.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ComingSoon';
    src: url('../fonts/ComingSoon-Regular.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PatrickHandSC';
    src: url('../fonts/PatrickHandSC-Regular.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AnnieUseYourTelescope';
    src: url('../fonts/AnnieUseYourTelescope-Regular.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Bellefair-Regular';
    src: url('../fonts/Bellefair-Regular.ttf');
    font-weight: 700;
}

