@import url(base.css);

.metaphor {
    font-size:30px;
    font-family: "Bellefair-Regular";
}

.github {
    font-family: "COLLEGIA";
    font-style: bold;
    font-size: 20px;
}

a.github:link { color: black; text-decoration:none; font-weight:normal; }
a.github:visited { color: black; text-decoration:none; font-weight:normal; }
a.github:hover { color: black; text-decoration:underline; font-weight:normal; }
a.github:active { color: black; text-decoration:none; font-weight:normal; }

.error_text {
    font-size: 20px;
    color: green;
}
