@import url(base.css);

.metaphor {
    font-size:30px;
    font-family: "PatrickHandSC";
}

.github {
    font-family: "AnnieUseYourTelescope";
    font-size:20px;
}

.error_text {
    font-size: 20px;
    color: green;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px /* Example value */
}
