{% load staticfiles %}

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115881507-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115881507-1');
    </script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#fca205"
            },
            "button": {
              "background": "#000000"
            }
          },
          "showLink": false,
          "theme": "classic",
          "position": "bottom-right",
          "content": {
            "message": "This project is just for fun, and this is absolutely a beta version and OUTDATED due to new language generator models. Metaphors may not make any sense...  😜",
            "dismiss": "No worries!"
          }
        })});
    </script>
</head>
