<html>
    {% include "head.html" %}
    <body>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/metaphors">Metaphors list</a>
            <hr />
            <a href="/strategies">Strategies description</a>
            <hr />
            <fieldset class="form-group strategies-set">
                <legend>Strategies</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="random" onClick="choose('random')" {% if checked == 'random' %} checked {% endif %}>
                    Random
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="is_a-random" onClick="choose('is_a-random')" {% if checked == 'is_a-random' %} checked {% endif %}>
                    Is a (dumb)
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="word2vec_subst" onClick="choose('word2vec_subst')" {% if checked == 'word2vec_subst' %} checked {% endif %}>
                    Words as vectors
                </label>
                </div>
                <div class="form-check">
                <label class="form-check-label horizon-margin10">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="word2vec_subst_fast" onClick="choose('word2vec_subst_fast')" {% if checked == 'word2vec_subst_fast' %} checked {% endif %}>
                    Words as vect. (fast)
                </label>
                </div>
                <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios5" value="master" disabled>
                    Master Metaphor
                  </label>
                </div>
            </fieldset>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">
            <button class="btn btn-primary menu">
                <i class="fas fa-bars"></i>
            </button> <span class="menu-text">Menu</span>
        </span>
        <div class="container">
            <h1 class="display-3 text-center" name="main-title"><font color="black">Meta</font>phor</h1>
            <div class="row">
                <div class="col-md-12 mt-5">
                    <form id="metaphorize-form" method="post">
                    {% csrf_token %}
                        <div class="input-group">
                            <input id="sentence-input" type="text" class="form-control" name="sentence" placeholder="Input a sentence and become a cheeky poet! ;)">
                            <input id="strategy-hidden" type="hidden" name="strategy" value={{checked}}>
                            <div class="input-group-btn">
                                <button id="metaphorize-btn" class="btn btn-secondary">Metaphorize!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-center" id="loading">
                <img src="/static/img/Infinity-1s-200px.gif"/>
            </div>
            <div class="row">
                <div id="message-area" class="col-md-12">
                    {% if can_do %}
                        <div class="metaphor text-center mt-3">
                            {{ metaphor_text }}
                        </div>
                    {% elif info_id == 1 %}
                        <div class="alert alert-info">
                            Sorry! Right now I only process English sentences. I sense some <strong>{{lang}}</strong>
                            ;) Do you want to know how the language is detected?
                            <a href="https://github.com/guiem/metaphor/wiki/Language-Detection">Enlighten me!</a>
                        </div>
                    {% elif info_id == 2 %}
                        <div class="alert alert-warning">
                            OMG, please give me some nice sentences to metaphorize! This was meaningless... 😅
                        </div>
                    {% elif info_id == 3 %}
                        <div class="alert alert-warning">
                            Did you mean to start with '<strong>I</strong>'. Because, hey, I'm not that smart... yet! And
                            '<strong>i</strong>' is also the ninth letter of the alphabet.
                        </div>
                    {% endif %}
                    {% if sentence_text %}
                        <div class="text-center mt-5">
                            &lt;&lt;{{ sentence_text }}&gt;&gt; was the original sentence.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>

<script>

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function choose(choice){
        document.getElementById('strategy-hidden').value=choice;
    }

    $(window).ready(function() {
        $('#loading').hide();
    });

    $('#metaphorize-btn').on('click', function(e){
        e.preventDefault();//prevent the form submit
        e.stopPropagation();// stop propagation
        $('#message-area').hide()
        $('#loading').show();
        $('#metaphorize-form').submit();
    });

    if ($(window).width() < 400 ) {
    $("input[id='sentence-input']").attr("placeholder","Your sentence...");
    }
    else { $("input[id='sentence-input']").attr("placeholder","Input a sentence and become a cheeky poet! ;)");}
</script>
